<%- include('../partials/header'); %>

<div class="column shadow-sm p-3 m-4 bg-dark-3 text-light">
    <div align="center">
        <h3>Data from PTT - 23th of June 2023 | Bangkok</h3>
        <span>Oil Prices - 10 types</span>
    </div>
    <hr>
    <div align="left">
        <div class="oiltypes">
            <div class="diesel-b7">
                <h3>Diesel B7</h3>
                <span class="display-3">
                    35.36
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="diesel-cleanex">
                <h3>CleanEx Diesel</h3>
                <span class="display-3">
                    35.36
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="diesel-b20">
                <h3>CleanEx Diesel B20</h3>
                <span class="display-3">
                    37.96
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="bensin-cleanex">
                <h3>CleanEx Bensin</h3>
                <span class="display-3">
                    44.46
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="gasohol-95">
                <h3>CleanEx Gasohol 95</h3>
                <span class="display-3">
                    45.30
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="gasohol-91">
                <h3>CleanEx Gasohol 91</h3>
                <span class="display-3">
                    45.57
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="gasohol-e20">
                <h3>CleanEx Bensin E20</h3>
                <span class="display-3">
                    52.98
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="gasohol-e85">
                <h3>CleanEx Bensin E85</h3>
                <span class="display-3">
                    51.06
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="diesel-b7-cleanex">
                <h3>CleanEx Diesel B7</h3>
                <span class="display-3">
                    52.98
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
            <div class="gasohol-95-superpower">
                <h3>Superpower Gasohol 95</h3>
                <span class="display-3">
                    51.06
                    <span class="display-4">baht / liter</span>
                </span>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>